* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(#62BEC1, #63595C, #404E4D);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.facts figure, .facts figure > img {
    width: 250px;
}

.facts {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 30px;
}

.wrapper header h1 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

.clickButton {
    background: #63595C;
    padding: 15px;
    font-size: 1em;
    color: #fff;
    border: none;
    margin: 0 35%;
    border-radius: 4px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.5);
}

.clickButton:hover {
    background-color: #ffe4c4;
    color: #000000;
}

button:focus {
    outline:0;
}

.facts ul {
    width: 100%;
    line-height: 25px;
    margin-top: 20px;
    color: #ffe4c4;
    list-style-type: circle;
}

.facts li {
    margin-bottom: 12px;
    padding: 0 15px; 
    text-align: justify;   
}

figcaption {
    padding: 7px;
}


@media only screen and (min-width: 601px) { 
    
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .clickButton:hover {
        background-color: #ffe4c4;
        color: #000000;
    }
    
    button:focus {
        outline:0;
    }
    
    .facts figure {
        border-bottom: 1px solid #fff;
        margin: 35px 12px 12px 12px;
    }
    
    .facts ul {
        width: 50%;
        line-height: 25px;
        color: #ffe4c4;
        list-style-type: circle;;
    }
    
    .facts li {
        margin-bottom: 12px; 
        text-align: justify;   
    }

    .facts figure, .facts figure > img {
        width: 600px;
    }
}